<div class="case-list-wrapper">

<h3 data-toggle="collapse" href="#case-list-collapsable" aria-expanded="true" aria-controls="case-list-collapsable">
  Current Cases
</h3>

<div class="panel-collapse show" id="case-list-collapsable">

        <div *ngFor="let case of caseList | async" class="caseDiv">
          <span>{{case.statusKey}}</span>
          <span><a href="#">{{case.name}}</a></span>
          <span>Patient ID: {{case.patientID}}</span>
          <span>Date of Birth: {{case.dob}}</span>

          <span>Service ID: {{case.serviceID}}</span>

          <span class="badge badge-success" *ngIf="case.service == 'BV'">Benefits Verification</span>
          <span class="badge badge-primary" *ngIf="case.service == 'CoPay'">CoPay</span>
          <span class="badge badge-warning" *ngIf="case.service == 'PA'">Payment Authorization</span>
        </div>

</div>

</div>
