.case-list-wrapper {
  padding: 10px;
}

.caseDiv {
  border: 1px solid black;
  display:table;
  margin: 10px auto;
  width: 90%;
  table-layout: fixed;
  padding: 5px;
}

.caseDiv span {
  display: table-cell;
  text-align: center;
}
