<div class="case-list-wrapper">

<h3 data-toggle="collapse" href="#case-list-collapsable" aria-expanded="true" aria-controls="case-list-collapsable">
  Current Cases
</h3>

<div class="panel-collapse show" id="case-list-collapsable">

        <div *ngFor="let case of caseList | async" class="caseDiv">
          <span>{{case.dob}}</span>
          <span>{{case.name}}</span>
          <span>{{case.patientID}}</span>
          <span>{{case.service}}</span>
          <span>{{case.serviceID}}</span>
          <span>{{case.statusKey}}</span>
        </div>

</div>

</div>
