
.caseblock  {
  width: 200px;
  height: 125px;
  margin: 20px;
  display: inline-block;
  text-align: center;
}



.caseblock-left, .caseblock-right {
  height: 100%;
  float: left;
  display: table;
  padding-left: 10px;
}

.caseblock-left span, .caseblock-right span {
  vertical-align: middle;
  display: table-cell;
  color: white;
  text-align: left;
}

.caseblock-left {
  width: 75%;
  background: purple;
  font-size: 20px;
}

.caseblock-right {
  font-size: 30px;
  width: 25%;
  background: lightblue;
}
